body {
	background: #222;
	color: #EEE;
	user-select: none;
	font-size: 12px;
	line-height: 1.4;
	opacity: 0;
	margin: 16px;
	font-family: monospace;
	-webkit-tap-highlight-color: transparent;
	transition: opacity .4s;
}
h1 {
	color: #F80;
	font-size: 28px;
	margin: 8px;
}
body, html {
	width: calc(100% - 16px);
	height: calc(95% - 16px);
}
#wrapper {
	width: 100%;
	height: 100%;
	display: table;
}
#main {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.tooltip {
	text-align: left;
	display: inline-block;
	color: #888;
}
button {
	outline: none;
	border: 2px solid #F80;
	background: transparent;
	padding: 10px 12px;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	color: #F80;
	font-weight: 600;
	transform: translate3d(0, 0, 0);
}
button:after {
	content: "";
	display: block;
	position: absolute;
	font-size: 14px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, #F80 12%, transparent 12%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform .4s, opacity .8s;
}
button:active:after {
	transform: scale(0, 0);
	opacity: .4;
	transition: 0s;
}
#link {
    color: #0F8;
    display: inline;
}
.tooltipbox {
    margin: 14px 0 24px;
}